body{
    background:url("img/cinema-4398725_1280.png") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container-fluid{
    width: 80%;
    position: relative;
}

#starter{
    margin: 125px auto;
    text-align: center;
    width: 80%;
    padding: 20px;
}

#input{
    height: 40px;
}

h1 {
    color: #DCB631;
    font-family: 'Monoton', cursive;
    font-size: 90px;
    text-align: center;
    margin: 20px auto;
    padding: 15px;
}

#countdown-timer{
    position: absolute;
    border-radius: 25px;
    border: 2px double #CAC311;
    font-size: 25px;
    text-align: center;
    width: 100px;
    top: 30px;
    right: 15px;
}

.img-fluid{
    display:block;
    margin: 0 auto;
    width: 500px;
    height: 380px;
    border: 5px solid #B79612;
}

#alphabetBtn li{
    list-style-type: none;
    background: #FFFFFF;
    float: left;
    clear:right;
    margin: 10px;
    width: 30px;
    height: 30px;
    color: #FB0008;
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
    position: relative;
    bottom: 15px;
}

.nextBtn{
    display: flex;
    border:2px ;
    color: #E6F400;
    margin: 0 15px;
}

#restart{
    bottom:-20px;
    width: 100px;
    height: 35px;
    color: #F2E500;
    margin: 0 auto;
}

#wordHolder{
    color: #FFFFFF;
    font-size: 40px;
    margin: 15px 10px;
    padding:15px;
    text-align: center;
}

.timerStyle{
    border: 20px;
    margin: 15px;
    padding:5px;
    color: #FF0C08;
}

.hide{
    display: none;
}