body{
    background-image:url("img/cinema-screen.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* fix sizing issue when window is smaller*/
}

#starter{
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-family: 'Monoton', cursive;
    color: #F6F500 !Important;
    font-size: 90px;
    color: #FFFF;
    text-align: center;
    margin: 20px auto;
}

.img-fluid{
    display:block;
    width: 500px;
    height: 380px;
    margin: 0 auto;
    border: 5px solid #FFFFFF;
}

.hide{
    display: none;
}

