body{
    background-image:url("img/cinema-screen.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* fix sizing issue when window is smaller*/
}

#starter{
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-family: 'Monoton', cursive;
    color: #F6F500 !Important;
    font-size: 90px;
    color: #FFFF;
    text-align: center;
    margin: 20px auto;
}

.img-fluid{
    display:block;
    width: 500px;
    height: 380px;
    margin: 0 auto;
    border: 5px solid #FFFFFF;
}

ul {
    list-style-type: none;
}

#alphabet li{
    float:left;
    clear: right;
    list-style:none;
    margin: 30px 10px 10px 0;
    width:35px;
    height:30px;
    color: #FFFFFF;
    cursor:pointer;
    border: solid 1px #FFFFFF;
    text-align: center;
}

.nextBtn{
    color: #E6F400;
    margin: 0 15px;
    /*float:right;
    justify-content: flex-end;*/
}

#wordHolder{
    color: #FFFFFF;
    font-size: 45px;
    margin: 15px 10px 10px 0px;
    padding:5px;
    text-align: center;
}

.hide{
    display: none;
}

